html {
  scroll-behavior: smooth; }
  html ::-moz-selection {
    background: #1abc9c;
    /* Gecko Browsers */ }
  html ::selection {
    background: #1abc9c;
    /* WebKit/Blink Browsers */ }

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none; }

.yellow {
  color: #e2b810; }

.red {
  color: #e74c3c; }

.blue {
  color: #3498db; }

.white {
  color: #f1f2f6; }

.letter-spacing {
  letter-spacing: 5px; }

.no-border {
  border: none; }

.light-mode {
  --bg-color: #ecf0f1;
  --font-color: #34495e;
  --btn-color: #ecf0f1;
  --btn-toggle-color: #ecf0f1;
  --gradient-bgc-color: linear-gradient(to right, rgb(138, 200, 102), #134E5E);
  --gradient-bgc-color-chrome: -webkit-linear-gradient(to right, rgb(138, 200, 102), #134E5E);
  --btn-visualizer: #30336bbc;
  --btn-visualizer-font: #ecf0f1;
  --console-color: #dce3eb;
  --complexity-bgc: linear-gradient(to top, #67b2a8e3, #bbdc58c0);
  --complexity-bgc-chrome: -webkit-linear-gradient(to right, #76b852, #8dc26f);
  background-color: var(--bg-color);
  color: var(--font-color);
  transition: all 0.6s ease-out; }

.dark-mode {
  --bg-color: #18293d;
  --font-color: #ecf0f1;
  --btn-color: #34495e;
  --btn-toggle-color: #e2b810;
  --gradient-bgc-color:  linear-gradient(to left, #460042, #065972);
  --btn-visualizer: #22a6b3;
  --btn-visualizer-font: #30336bbc;
  --console-color: #111f2e;
  --complexity-bgc: linear-gradient(to top, #163f57, #332a62);
  --complexity-bgc-chrome: -webkit-linear-gradient(to right, #11364b, #332c55);
  background-color: var(--bg-color);
  color: var(--font-color);
  transition: all 0.6s ease-out; }

.navigationbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  background: #134E5E;
  background: -webkit-linear-gradient(to right, #71B280, #134E5E);
  background: var(--gradient-bgc-color);
  border-bottom: 2px solid #e2b810;
  transition: all 0.6s ease-out; }
  .navigationbar .cirle {
    position: absolute;
    left: 50%;
    margin-left: -53px !important;
    width: 106px;
    height: 106px;
    margin: 10px auto;
    padding: 8px;
    background-color: #275275;
    border-radius: 45%; }
  .navigationbar .logo {
    position: absolute;
    left: 50%;
    width: 90px;
    height: 90px;
    margin-left: -45px !important;
    border-radius: 15%;
    padding: 10px;
    margin: 0 auto;
    z-index: 10;
    transition: all 0.6s ease-out; }
  .navigationbar .darkmode-container {
    margin: 10px 20px;
    text-align: center;
    color: var(--btn-toggle-color);
    display: flex;
    flex-direction: column;
    float: right;
    transition: all 0.6s ease-out; }
    @media screen and (min-width: 455px) {
      .navigationbar .darkmode-container {
        margin: 10px 20px;
        text-align: center;
        color: var(--btn-toggle-color);
        display: flex;
        flex-direction: row;
        float: right;
        transition: all 0.6s ease-out; } }

.scroll-to-top {
  position: sticky;
  top: 30px;
  left: 90%;
  z-index: 100; }
  .scroll-to-top:hover {
    text-decoration: none;
    list-style-type: none; }
  .scroll-to-top span {
    font-size: 2.4rem;
    font-weight: bold;
    color: #3498db; }

.jumbotron {
  margin: 35px auto 40px auto;
  color: var(--font-color);
  text-align: center;
  background-color: var(--bg-color);
  transition: all 0.6s ease-out; }
  .jumbotron .heading {
    font-size: 4em;
    margin: 30px 0; }
  .jumbotron .info {
    width: 80%;
    margin: 20px auto;
    line-height: 3rem; }

.sections .heading2 {
  width: 60%;
  margin: 20px auto;
  text-align: center;
  border-bottom: 3px solid #1abc9c; }

.sections .section {
  text-align: center;
  margin: 0 auto 40px auto; }
  .sections .section .h1 {
    font-size: 3rem; }
  .sections .section p {
    font-size: 1.2rem;
    font-family: "Roboto";
    letter-spacing: 1px;
    line-height: 1.7rem;
    margin: 10px 0; }
  .sections .section .btn {
    background-color: #2ecc703a;
    font-size: 20px;
    margin: 10px;
    padding: 15px;
    color: var(--btn-color);
    transition: all 0.3s ease-out; }
    .sections .section .btn:hover {
      background-color: white;
      color: var(--font-color); }
  .sections .section .section-image {
    height: 200px;
    margin: 20px 0;
    padding: 13px;
    background-color: #ecf0f1;
    border-radius: 5px; }

.visualizer-container {
  margin: 60px auto 10px auto;
  padding: 20px 0 10px 0;
  background: #134E5E;
  background: var(--gradient-bgc-color-chrome);
  background: var(--gradient-bgc-color);
  border-top: 1px solid #e2b810;
  border-bottom: 1px solid #e2b810;
  -webkit-box-shadow: 0px 0px 15px 14px rgba(60, 99, 130, 0.48);
  -moz-box-shadow: 0px 0px 15px 14px rgba(60, 99, 130, 0.48);
  box-shadow: 0px 0px 15px 14px rgba(60, 99, 130, 0.48); }
  .visualizer-container .visualizer-jumbo {
    padding-top: 10px; }
  .visualizer-container .visualizer {
    width: 80%;
    background-color: #ffffff;
    padding: 80px 20px 10px 20px;
    border-radius: 3px;
    text-align: center;
    margin: 50px auto 10px auto;
    -webkit-box-shadow: inset 0px 11px 30px -13px #3498db;
    -moz-box-shadow: inset 0px 11px 30px -13px #3498db;
    box-shadow: inset 0px 11px 30px -13px #3498db; }
  .visualizer-container .array-bar {
    display: inline-block;
    border-radius: 2px;
    background-color: #6a89cc;
    margin: 0 2px;
    animation: arraybar 0.3s; }

@keyframes arraybar {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }
  .visualizer-container .buttons {
    width: 80%;
    margin: 50px auto; }
  .visualizer-container .new-array {
    font-size: 1.4rem;
    padding: 10px;
    margin: 20px 15px;
    background-color: #f6b93b;
    color: #1e272e;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid transparent;
    transition: all 0.4s ease-out; }
    .visualizer-container .new-array:hover {
      background-color: #e6ab37;
      border-bottom: 2px solid #ff5e57;
      border-radius: 3px; }
  .visualizer-container .stop-animation {
    font-size: 1.2rem;
    padding: 10px;
    margin: 20px auto;
    background-color: #e74c3c;
    color: #f1f2f6;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid transparent;
    transition: all 0.4s ease-out; }
    .visualizer-container .stop-animation:hover {
      color: black;
      background-color: #d63031;
      border-radius: 3px; }
    @media screen and (min-width: 1199px) {
      .visualizer-container .stop-animation {
        margin: 20px 15px; } }
  .visualizer-container .button {
    font-size: 1.4rem;
    padding: 7px;
    float: left;
    margin: 20px 15px;
    background-color: var(--btn-visualizer);
    border-radius: 5px;
    color: var(--btn-visualizer-font);
    border: none;
    border-bottom: 2px solid transparent;
    transition: all 0.4s ease-out; }
    .visualizer-container .button:hover {
      background-color: #22a6b3;
      color: var(--font-color);
      border-radius: 3px;
      border: none;
      border-bottom: 2px solid #F79F1F; }
    .visualizer-container .button:disabled {
      background-color: #e74c3c;
      color: #ecf0f1;
      cursor: no-drop; }
  .visualizer-container .button-group-animation {
    margin: 20px auto;
    padding: 10px; }
    @media screen and (min-width: 1199px) {
      .visualizer-container .button-group-animation {
        margin: 20px 15px;
        padding: 10px; } }

.code-container {
  margin: 0 auto;
  padding-top: 5px; }
  .code-container .code-jumbotron {
    width: 80%;
    margin: 30px auto 50px auto; }
  .code-container .code-section-main {
    width: 90%;
    margin: 50px auto; }
    .code-container .code-section-main .explanation-section {
      margin: 30px auto; }
    .code-container .code-section-main .code-section {
      width: 100%;
      margin: 0 auto; }
      .code-container .code-section-main .code-section .languages {
        margin: 0 auto;
        padding-top: 40px;
        width: 100%; }
        @media screen and (min-width: 969px) {
          .code-container .code-section-main .code-section .languages {
            width: 80%;
            margin: 0 30px; } }
        @media screen and (min-width: 1699px) {
          .code-container .code-section-main .code-section .languages {
            width: 65%;
            margin: 0 30px; } }
      .code-container .code-section-main .code-section .sorts {
        margin: auto auto;
        width: 60%;
        text-align: center; }
        @media screen and (min-width: 969px) {
          .code-container .code-section-main .code-section .sorts {
            width: 15%; } }
        @media screen and (min-width: 1699px) {
          .code-container .code-section-main .code-section .sorts {
            width: 15%;
            margin: auto 30px; } }
        .code-container .code-section-main .code-section .sorts .list-group-item {
          background-color: var(--bg-color);
          border: 1px solid #2980b9; }
          .code-container .code-section-main .code-section .sorts .list-group-item .btn {
            color: var(--font-color); }
            .code-container .code-section-main .code-section .sorts .list-group-item .btn::-moz-focus-inner {
              outline: none;
              border: none; }
          .code-container .code-section-main .code-section .sorts .list-group-item.active {
            background-color: #1abc9c; }
  .code-container .explanation {
    margin: auto; }
    .code-container .explanation .normalImg {
      text-align: center;
      background-color: #ecf0f1;
      border-radius: 10px;
      width: 100%;
      padding: 10px;
      margin: 25px auto 0 auto; }
      @media screen and (min-width: 1199px) {
        .code-container .explanation .normalImg {
          max-width: 60%;
          margin: 25px auto;
          max-height: inherit; } }
    .code-container .explanation .tallImg {
      text-align: center;
      background-color: #ecf0f1;
      border-radius: 10px;
      width: 100%;
      padding: 10px;
      margin: 25px auto 0 auto; }
      @media screen and (min-width: 1199px) {
        .code-container .explanation .tallImg {
          max-width: inherit;
          margin: 25px auto;
          max-height: inherit; } }
  .code-container .explanation-text {
    margin: 25px auto 0 auto;
    letter-spacing: 1px;
    line-height: 1.7rem; }
  .code-container .info-paragraph {
    margin-bottom: 40px; }
    .code-container .info-paragraph li {
      margin-bottom: 10px; }

.code {
  margin: 20px auto;
  width: 100%;
  max-height: 760px;
  background-color: var(--console-color);
  border: 1px solid #b6c4d4;
  border-radius: 5px;
  padding: 15px;
  font-size: 1.1rem;
  overflow: auto;
  white-space: pre-wrap; }
  .code pre {
    color: var(--font-color);
    white-space: pre-wrap; }

.timecomplexity-container {
  margin: 50px auto 50px auto;
  padding: 30px 0;
  background: #76b852;
  background: var(--complexity-bgc-chrome);
  background: var(--complexity-bgc);
  border-top: 1px solid #3498db;
  border-bottom: 1px solid #3498db;
  -webkit-box-shadow: 0px 0px 30px 0px #3498db;
  -moz-box-shadow: 0px 0px 30px 0px #3498db;
  box-shadow: 0px 0px 30px 0px #3498db; }
  .timecomplexity-container .compl-jumbotron {
    width: 80%;
    margin: 40px auto 50px auto; }
  .timecomplexity-container .table {
    width: 100%;
    color: var(--font-color);
    border-radius: 5px;
    padding: 20px;
    margin: 50px auto; }
    @media screen and (min-width: 969px) {
      .timecomplexity-container .table {
        width: 80%; } }
    .timecomplexity-container .table td {
      vertical-align: middle; }
    .timecomplexity-container .table p {
      padding: 10px;
      border-radius: 6px;
      color: #34495e;
      vertical-align: middle;
      margin: auto auto; }
    .timecomplexity-container .table .nlogn {
      background-color: #f39c12; }
    .timecomplexity-container .table .n {
      background-color: #f1c40f; }
    .timecomplexity-container .table .n2 {
      background-color: #d35400; }
    .timecomplexity-container .table .logn {
      background-color: #A3CB38; }
    .timecomplexity-container .table .one {
      background-color: #009432; }

.page-footer {
  margin-top: 100px;
  background-color: var(--bg-color); }
  .page-footer .footer-container {
    width: 90%;
    margin: 0 auto; }
  .page-footer .footer-copyright {
    margin-top: 70px;
    background-color: #18293def; }
